<h3>Nova Categoria</h3>
<div class="card shadow p-3 mb-5 bg-body rounded">
    <div class="card-body">
        <form action="/admin/categorias/nova" method="POST">
            <label for="nome">Nome: </label>
            <input class="form-control" type="text" name="nome" id="nome" placeholder="Nome da catagoria" required="" />
            <label for="slug">Slug: </label>
            <input class="form-control" type="text" name="slug" id="slug" placeholder="Slug da categoria" required="" />
            <br />
            <button type="submit" class="btn btn-success">Criar</button>
        </form>
    </div>
</div>