{{#if success_msg}}
    <div class="alert alert-success">
        <span>{{{success_msg}}}</span>
    </div>
{{/if}}

{{#if error_msg}}
    <div class="alert alert-danger">
        <span>{{{error_msg}}}</span>
    </div>
{{/if}}